doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styleMenu.css")
    title Menú de la Escuela
  body
    header 
      h1 Bienvenido #{username} a la Cocoscuela!!
      nav
        ul
          if role === 'teacher'
            li: a(href="/create-task") Crear Tarea
            li: a(href="/create-exam") Crear Examen
            li: a(href="https://meet.google.com", target="_blank") Videollamadas
            li: a(href="/logout") Cerrar Sesión
          else if role === 'student'
            li: a(href="https://meet.google.com", target="_blank") Videollamadas
            li: a(href="/logout") Cerrar Sesión
    main
      h2 Módulos y Tareas Asignadas
      if modules && modules.length > 0
        .modules-container
          each module in modules
            .module(onclick="toggleAssignments(this)")
              h3= module.name
              p= module.description
              .assignments-container
                if module.tasks && module.tasks.length > 0
                  ul.assignments
                    each task in module.tasks
                      li
                        a(href=`/task/${task.id}`)= task.task_name
                        p= task.description
                        p Fecha de entrega: #{task.due_date}
                else
                  p No hay tareas asignadas en este módulo.

                if module.exams && module.exams.length > 0
                  ul.exams
                    each exam in module.exams
                      li
                        a(href=`/exam/${exam.id}`)= exam.title
                else
                  p No hay exámenes asignados en este módulo.
      else
        p No hay módulos creados.

      if role === 'teacher'
        button.btn-create-module(type="submit", onclick="showModuleForm()") Crear Módulo

      #moduleFormModal.modal(style="display: none;")
        .modal-content
          span.close-button(onclick="closeModuleForm()") &times;
          h2 Crear Módulo
          form(id="moduleForm", action="/create-module", method="POST")
            label(for="name") Nombre del Módulo:
            input(type="text", id="name", name="name", maxlength="255", required)
            label(for="description") Descripción del Módulo:
            textarea(id="description", name="description", maxlength="255", required)
            button(type="submit") Crear

    footer
      p Derechos de autor a coco :D

    script.
      function showModuleForm() {
        var modal = document.getElementById("moduleFormModal");
        modal.style.display = 'block';
      }

      function closeModuleForm() {
        var modal = document.getElementById("moduleFormModal");
        modal.style.display = 'none';
      }

      function toggleAssignments(moduleElement) {
        var assignmentsContainer = moduleElement.querySelector('.assignments-container');
        if (assignmentsContainer.style.display === 'block') {
          assignmentsContainer.style.display = 'none';
        } else {
          assignmentsContainer.style.display = 'block';
        }
      }
